*#dm *.dmBody nav.u_1049841281
{
	color:black !important;
}
*#dm *.dmBody div.u_1498495937
{
	background-color:var(--color_6) !important;
}
a.u_1757759554
{
	border-radius:3px !important;
	-moz-border-radius:3px !important;
	-webkit-border-radius:3px !important;
	background-color:var(--color_6) !important;
	border-style:solid !important;
	border-width:1px !important;
	border-color:rgba(255,255,255,1) !important;
}
a.u_1757759554:hover
{
	background-color:var(--color_1) !important;
	background-image:none !important;
	border-color:var(--color_1) !important;
}
a.u_1757759554.hover
{
	background-color:var(--color_1) !important;
	background-image:none !important;
	border-color:var(--color_1) !important;
}
a.u_1757759554 span.icon
{
	color:rgb(255,255,255) !important;
	fill:rgba(255,255,255,1) !important;
}
*#dm *.dmBody div.u_1568837381
{
	background-repeat:no-repeat !important;
	background-image:none !important;
	background-size:cover !important;
}
*#dm *.dmBody div.u_1780773431 img[dm_changed]
{
	border-radius:2% !important;
	-moz-border-radius:2% !important;
	-webkit-border-radius:2% !important;
}
*#dm *.dmBody div.u_1780773431 img
{
	border-radius:2% !important;
	-moz-border-radius:2% !important;
	-webkit-border-radius:2% !important;
}
*#dm *.dmBody div.u_1333027818
{
	background-color:var(--color_3) !important;
}
*#dm *.dmBody div.u_1345978446
{
	background-color:var(--color_4) !important;
}
*#dm *.dmBody a.u_1495623905 span.icon
{
	color:rgba(255,255,255,1) !important;
	fill:rgba(255,255,255,1) !important;
}
*#dm *.dmBody nav.u_1667175476
{
	color:black !important;
}
*#dm *.dmBody div.u_1929627318
{
	background-repeat:no-repeat !important;
	background-image:url(../dms3rep/multi/opt/rap1-1920w.png) !important;
	background-size:cover !important;
	border-radius:5px !important;
	-moz-border-radius:5px !important;
	-webkit-border-radius:5px !important;
}
*#dm *.dmBody div.u_1154172052 .postArticle .blogImgLink
{
	height:290px !important;
}
*#dm *.dmBody div.u_1154172052
{
	border-style:solid !important;
	border-width:0 !important;
	border-color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody div.u_1154172052 .postArticle>.inner
{
	border-radius:3px !important;
	-moz-border-radius:3px !important;
	-webkit-border-radius:3px !important;
	box-shadow:none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
	border-style:solid !important;
	border-width:20px !important;
	border-color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody div.u_1154172052 .postDescription
{
	max-height:2.6999999999999997em !important;
	color:rgba(0,0,0,1) !important;
	font-family:TWKLausanne-300 !important;
}
*#dm *.dmBody div.u_1154172052 .postTitle a
{
	font-family:TWKLausanne-300 !important;
	font-weight:normal !important;
}
*#dm *.dmBody div.u_1154172052 .readMore a
{
	font-family:TWKLausanne-300 !important;
	color:var(--color_1) !important;
}
*#dm *.dmBody a.u_1075073837 span.icon
{
	color:rgba(255,255,255,1) !important;
	fill:rgba(255,255,255,1) !important;
}
*#dm *.dmBody a.u_1075073837 .iconBg
{
	display:none !important;
}
*#dm *.dmBody div.u_1877529586 #location
{
	font-family:TWKLausanne-300 !important;
	color:var(--color_8) !important;
}
*#dm *.dmBody div.u_1877529586 .option-state
{
	font-family:TWKLausanne-300 !important;
	color:var(--color_8) !important;
}
*#dm *.dmBody div.u_1877529586 #searchBox
{
	background-color:rgba(255,255,255,1) !important;
	color:var(--color_8) !important;
	font-family:TWKLausanne-300 !important;
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.dmBody div.u_1877529586 #jobCategories
{
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.dmBody div.u_1877529586 input#location
{
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.dmBody div.u_1877529586 select#location
{
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.dmBody div.u_1877529586 #jobWorkType
{
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.dmBody div.u_1877529586 #city
{
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.dmBody div.u_1877529586 #jobSubCategories
{
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.dmBody div.u_1877529586 #country
{
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.dmBody div.u_1877529586 .searchBtn span.text
{
	font-family:TWKLausanne-300 !important;
	color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody div.u_1877529586 .searchBtn
{
	border-style:solid !important;
	border-width:0 !important;
	background-color:var(--color_1) !important;
	border-radius:3px !important;
	-moz-border-radius:3px !important;
	-webkit-border-radius:3px !important;
}
*#dm *.dmBody div.u_1877529586 .searchBtn:hover
{
	background-color:rgba(214,69,69,1) !important;
	background-image:none !important;
}
*#dm *.dmBody div.u_1877529586 .searchBtn.hover
{
	background-color:rgba(214,69,69,1) !important;
	background-image:none !important;
}
*#dm *.dmBody div.u_1454046630
{
	background-color:rgba(255,255,255,1) !important;
	background-repeat:no-repeat !important;
	background-image:none !important;
	background-size:cover !important;
}
*#dm *.dmBody div.u_1835922149
{
	background-color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody a.u_1075073837
{
	border-radius:3px !important;
	-moz-border-radius:3px !important;
	-webkit-border-radius:3px !important;
}
*#dm *.dmBody a.u_1495623905 .iconBg
{
	display:none !important;
}
*#dm *.dmBody a.u_1495623905
{
	border-radius:3px !important;
	-moz-border-radius:3px !important;
	-webkit-border-radius:3px !important;
}
*#dm *.dmBody a.u_1757759554 .iconBg
{
	display:none !important;
}
*#dm *.dmBody div.u_1695888424 .postTitle a
{
	font-weight:normal !important;
}
*#dm *.dmBody div.u_1695888424 .readMore a
{
	color:var(--color_1) !important;
}
*#dm *.dmBody div.u_1695888424 .postDescription
{
	max-height:2.6999999999999997em !important;
	color:var(--color_5) !important;
}
*#dm *.dmBody div.u_1695888424 .postArticle .blogImgLink
{
	height:220px !important;
}
*#dm *.dmBody a.u_1757759554:hover
{
	background-image:none !important;
}
*#dm *.dmBody a.u_1757759554.hover
{
	background-image:none !important;
}
*#dm *.dmBody div.u_1149432975
{
	background-color:var(--color_2) !important;
}
*#dm *.dmBody div.u_1170895733
{
	background-color:rgba(233,237,239,1) !important;
}
*#dm *.dmBody nav.u_1724148124.main-navigation.unifiednav .unifiednav__container[data-depth]>.unifiednav__item-wrap:not(:last-child)::after
{
	border-top-width:0 !important;
}
*#dm *.dmBody nav.u_1724148124.main-navigation.unifiednav.effect-bottom .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item .nav-item-text::after
{
	border-top-color:var(--color_1) !important;
}
*#dm *.dmBody *.u_1724148124.main-navigation.unifiednav:not([image]) .unifiednav__container[data-depth="0"]
{
	top:calc(100% - 5px - 0px) !important;
}
*#dm *.dmBody *.u_1724148124.main-navigation.unifiednav[data-nav-structure="HORIZONTAL"] .unifiednav__container:not([data-depth])>.unifiednav__item-wrap:not(:last-child) .unifiednav__container[data-depth="0"]
{
	left:0 !important;
}
*#dm *.dmBody *.u_1724148124.main-navigation.unifiednav[data-nav-structure="SPLIT"] .unifiednav__container:not([data-depth]):not(:last-of-type)>.unifiednav__item-wrap .unifiednav__container[data-depth="0"]
{
	left:0 !important;
}
*#dm *.dmBody *.u_1724148124.main-navigation.unifiednav[data-nav-structure="SPLIT"] .unifiednav__container:not([data-depth]):last-of-type>.unifiednav__item-wrap:not(:last-child) .unifiednav__container[data-depth="0"]
{
	left:0 !important;
}
*#dm *.dmBody nav.u_1724148124.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item:hover
{
	color:var(--color_1) !important;
}
*#dm *.dmBody nav.u_1724148124.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item.hover
{
	color:var(--color_1) !important;
}
*#dm *.dmBody nav.u_1724148124.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item.dmNavItemSelected
{
	color:var(--color_1) !important;
}
*#dm *.dmBody nav.u_1724148124.main-navigation.unifiednav
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.dmBody nav.u_1724148124 li
{
	padding-left:20px !important;
	background-image:url(../dms3rep/multi/arrow-coral-right.svg) !important;
	background-repeat:no-repeat !important;
	background-position:left center !important;
	background-size:14px 14px !important;
}
*#dm *.dmBody *.u_1724148124.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item
{
	margin-left:0 !important;
	padding-top:5px !important;
	padding-left:0 !important;
	padding-bottom:5px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody nav.u_1699582434.main-navigation.unifiednav .unifiednav__container[data-depth]>.unifiednav__item-wrap:not(:last-child)::after
{
	border-top-width:0 !important;
}
*#dm *.dmBody nav.u_1699582434.main-navigation.unifiednav.effect-bottom .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item .nav-item-text::after
{
	border-top-color:var(--color_1) !important;
}
*#dm *.dmBody *.u_1699582434.main-navigation.unifiednav:not([image]) .unifiednav__container[data-depth="0"]
{
	top:calc(100% - 5px - 0px) !important;
}
*#dm *.dmBody *.u_1699582434.main-navigation.unifiednav[data-nav-structure="HORIZONTAL"] .unifiednav__container:not([data-depth])>.unifiednav__item-wrap:not(:last-child) .unifiednav__container[data-depth="0"]
{
	left:0 !important;
}
*#dm *.dmBody *.u_1699582434.main-navigation.unifiednav[data-nav-structure="SPLIT"] .unifiednav__container:not([data-depth]):not(:last-of-type)>.unifiednav__item-wrap .unifiednav__container[data-depth="0"]
{
	left:0 !important;
}
*#dm *.dmBody *.u_1699582434.main-navigation.unifiednav[data-nav-structure="SPLIT"] .unifiednav__container:not([data-depth]):last-of-type>.unifiednav__item-wrap:not(:last-child) .unifiednav__container[data-depth="0"]
{
	left:0 !important;
}
*#dm *.dmBody nav.u_1699582434.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item:hover
{
	color:var(--color_1) !important;
}
*#dm *.dmBody nav.u_1699582434.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item.hover
{
	color:var(--color_1) !important;
}
*#dm *.dmBody nav.u_1699582434.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item.dmNavItemSelected
{
	color:var(--color_1) !important;
}
*#dm *.dmBody nav.u_1699582434.main-navigation.unifiednav
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.dmBody nav.u_1699582434 li
{
	padding-left:20px !important;
	background-image:url(../dms3rep/multi/arrow-coral-right.svg) !important;
	background-repeat:no-repeat !important;
	background-position:left center !important;
	background-size:14px 14px !important;
}
*#dm *.dmBody *.u_1699582434.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item
{
	margin-left:0 !important;
	padding-top:5px !important;
	padding-left:0 !important;
	padding-bottom:5px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1695888424 .postArticle>.inner
{
	border-style:solid !important;
	border-width:10px !important;
	border-color:rgba(255,255,255,1) !important;
	border-radius:3px !important;
	-moz-border-radius:3px !important;
	-webkit-border-radius:3px !important;
	box-shadow:none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
}
*#dm *.dmBody div.u_1273029066 #location
{
	font-family:TWKLausanne-300 !important;
	color:var(--color_8) !important;
}
*#dm *.dmBody div.u_1273029066 .option-state
{
	font-family:TWKLausanne-300 !important;
	color:var(--color_8) !important;
}
*#dm *.dmBody div.u_1273029066 #searchBox
{
	background-color:rgba(255,255,255,1) !important;
	color:var(--color_8) !important;
	font-family:TWKLausanne-300 !important;
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.dmBody div.u_1273029066 #jobCategories
{
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.dmBody div.u_1273029066 input#location
{
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.dmBody div.u_1273029066 select#location
{
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.dmBody div.u_1273029066 #jobWorkType
{
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.dmBody div.u_1273029066 #city
{
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.dmBody div.u_1273029066 #jobSubCategories
{
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.dmBody div.u_1273029066 #country
{
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.dmBody div.u_1273029066 .searchBtn span.text
{
	font-family:TWKLausanne-300 !important;
	color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody div.u_1273029066 .searchBtn
{
	border-style:solid !important;
	border-width:0 !important;
	background-color:var(--color_1) !important;
	border-radius:3px !important;
	-moz-border-radius:3px !important;
	-webkit-border-radius:3px !important;
}
*#dm *.dmBody div.u_1273029066 .searchBtn:hover
{
	background-color:rgba(214,69,69,1) !important;
	background-image:none !important;
}
*#dm *.dmBody div.u_1273029066 .searchBtn.hover
{
	background-color:rgba(214,69,69,1) !important;
	background-image:none !important;
}
*#dm *.dmBody div.u_1701592579
{
	background-color:var(--color_3) !important;
}
*#dm *.dmBody *.u_1724148124.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) .unifiednav__container:not([data-depth])>.unifiednav__item-wrap:not(:last-child)::before
{
	font-size:22px !important;
}
*#dm *.dmBody *.u_1724148124.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) .unifiednav__container:not([data-depth])>.unifiednav__item-wrap:not(:last-child)::after
{
	font-size:22px !important;
}
*#dm *.dmBody *.u_1699582434.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) .unifiednav__container:not([data-depth])>.unifiednav__item-wrap:not(:last-child)::before
{
	font-size:22px !important;
}
*#dm *.dmBody *.u_1699582434.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) .unifiednav__container:not([data-depth])>.unifiednav__item-wrap:not(:last-child)::after
{
	font-size:22px !important;
}
*#dm *.dmBody nav.u_1724148124.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item
{
	font-weight:normal !important;
}
*#dm *.dmBody div.u_1280673545
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.dmBody div.u_1060425697
{
	background-color:var(--color_6) !important;
}
*#dm *.dmBody *.u_1790945569
{
	width:100% !important;
}
*#dm *.dmBody *.u_1780773431
{
	width:100% !important;
}
*#dm *.dmBody div.u_1392908398
{
	background-repeat:no-repeat !important;
	background-color:var(--color_3) !important;
}
*#dm *.dmBody div.u_1235930526 img[dm_changed]
{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
*#dm *.dmBody div.u_1235930526 img
{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
separatorHomeCss{color:red !important}a.u_1757759554
{
	height:48px !important;
	width:200px !important;
}
*#dm *.dmBody div.u_1451304172
{
	margin-left:0 !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-top:28px !important;
	margin-bottom:8px !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1142395117
{
	margin-left:0 !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1071145517
{
	margin-left:0 !important;
	padding-top:10px !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1995720651
{
	width:calc(100% - 0px) !important;
	height:76px !important;
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:384px !important;
	margin-left:0 !important;
	max-width:76px !important;
	margin-top:10px !important;
	margin-bottom:10px !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1008962190
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:0 !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1514576316
{
	margin-left:40px !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1568837381
{
	background-repeat:no-repeat !important;
	background-size:contain !important;
	background-position:50% 50% !important;
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1333027818
{
	margin-left:0 !important;
	padding-top:70px !important;
	padding-left:40px !important;
	padding-bottom:70px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:40px !important;
	width:auto !important;
}
*#dm *.dmBody div.u_1343580833
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1927167698
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:40px !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:40px !important;
}
*#dm *.dmBody div.u_1154172052 .postTitle a
{
	font-size:24px !important;
}
*#dm *.dmBody div.u_1154172052 .postDescription
{
	font-size:16px !important;
}
*#dm *.dmBody div.u_1154172052 .readMore a
{
	font-size:16px !important;
}
*#dm *.dmBody div.u_1118638354
{
	margin-left:0 !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1773565722
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1149432975
{
	padding-top:70px !important;
	padding-left:40px !important;
	padding-bottom:70px !important;
	padding-right:40px !important;
	width:auto !important;
}
*#dm *.dmBody div.u_1917490616
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:699.969px !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:0 !important;
}
*#dm *.dmBody *.u_1877529586 .shzmSearch
{
	border-radius:3px !important;
}
*#dm *.dmBody *.u_1877529586 #jobCategories
{
	border-radius:3px !important;
}
*#dm *.dmBody *.u_1877529586 #shzmSearch
{
	border-radius:3px !important;
}
*#dm *.dmBody *.u_1877529586 #location
{
	border-radius:3px !important;
}
*#dm *.dmBody *.u_1877529586 #jobWorkType
{
	border-radius:3px !important;
}
*#dm *.dmBody *.u_1877529586 #city
{
	border-radius:3px !important;
}
*#dm *.dmBody *.u_1877529586 #jobSubCategories
{
	border-radius:3px !important;
}
*#dm *.dmBody *.u_1877529586 #country
{
	border-radius:3px !important;
}
*#dm *.dmBody div.u_1877529586 .searchBtn span.text
{
	font-size:16px !important;
}
*#dm *.dmBody div.u_1877529586 .searchBtn
{
	width:100px !important;
	height:45px !important;
	min-width:100px !important;
}
*#dm *.dmBody div.u_1877529586 #searchBox
{
	font-size:14px !important;
	height:45px !important;
	width:200px !important;
	min-width:200px !important;
}
*#dm *.dmBody div.u_1877529586 #location
{
	font-size:14px !important;
	height:45px !important;
	width:200px !important;
	min-width:200px !important;
}
*#dm *.dmBody div.u_1877529586 .option-state
{
	font-size:14px !important;
}
*#dm *.dmBody div.u_1750974378
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:63px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
	display:block !important;
}
*#dm *.dmBody div.u_1844195335
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1337889233
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody a.u_1757759554
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:200px !important;
	position:relative !important;
	height:45px !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:auto !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:10px !important;
	margin-bottom:10px !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1154172052 .more-posts-text-container
{
	width:200px !important;
	height:45px !important;
}
*#dm *.dmBody div.u_1154172052
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:30px !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	max-width:100% !important;
	justify-content:normal !important;
	align-items:center !important;
	min-width:25px !important;
	text-align:start !important;
}
*#dm *.dmBody div.u_1988989378
{
	margin-left:0 !important;
	padding-top:150px !important;
	padding-left:40px !important;
	padding-bottom:100px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:140px !important;
}
*#dm *.dmBody a.u_1257030298
{
	height:45px !important;
	width:200px !important;
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:0 !important;
	margin-left:53.3281px !important;
	max-width:200px !important;
	margin-top:47px !important;
	margin-bottom:10px !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1345978446
{
	margin-left:0 !important;
	padding-top:70px !important;
	padding-left:40px !important;
	padding-bottom:70px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:40px !important;
	width:auto !important;
}
*#dm *.dmBody a.u_1495623905
{
	height:45px !important;
	width:230px !important;
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	max-width:100% !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
	margin-left:auto !important;
	margin-top:92px !important;
	margin-bottom:10px !important;
	margin-right:auto !important;
}
*#dm *.dmBody div.u_1695888424 .postDescription
{
	font-size:16px !important;
}
*#dm *.dmBody div.u_1695888424 .readMore a
{
	font-size:16px !important;
}
*#dm *.dmBody div.u_1695888424 .more-posts-text-container
{
	width:200px !important;
	height:45px !important;
}
*#dm *.dmBody div.u_1508093789
{
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1695888424
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:30px !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1182528830
{
	width:51px !important;
	height:26px !important;
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:10px !important;
	margin-bottom:10px !important;
	margin-right:auto !important;
	padding-right:0 !important;
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	max-width:100% !important;
	min-width:0 !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1067384943
{
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1334605704
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody nav.u_1724148124
{
	padding-top:7px !important;
	padding-left:15px !important;
	padding-bottom:7.2px !important;
	padding-right:15px !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	max-width:100% !important;
	justify-content:flex-start !important;
	align-items:stretch !important;
	min-width:25px !important;
	text-align:start !important;
	margin-right:0 !important;
	margin-left:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
}
*#dm *.dmBody nav.u_1699582434
{
	padding-top:7px !important;
	padding-left:15px !important;
	padding-bottom:7.2px !important;
	padding-right:15px !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	max-width:100% !important;
	justify-content:flex-start !important;
	align-items:stretch !important;
	min-width:25px !important;
	text-align:start !important;
	margin-left:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
}
*#dm *.dmBody div.u_1730442682
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:300px !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1392908398
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:40px !important;
	padding-bottom:196px !important;
	margin-top:70px !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:40px !important;
	width:auto !important;
	background-attachment:initial !important;
	background-repeat:no-repeat !important;
	background-size:cover !important;
	background-position:50% 50% !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	height:auto !important;
	max-width:100% !important;
	min-width:0 !important;
	text-align:start !important;
}
*#dm *.dmBody div.u_1454046630
{
	padding-top:70px !important;
	padding-left:40px !important;
	padding-bottom:70px !important;
	float:none !important;
	margin-right:0 !important;
	margin-left:0 !important;
	top:auto !important;
	max-width:none !important;
	left:0 !important;
	width:auto !important;
	margin-top:0 !important;
	position:relative !important;
	margin-bottom:0 !important;
	padding-right:40px !important;
	min-width:0 !important;
	text-align:center !important;
	height:auto !important;
	background-repeat:no-repeat !important;
	background-size:auto !important;
	background-position:0 0 !important;
}
*#dm *.dmBody div.u_1835922149
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:40px !important;
	padding-bottom:70px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:40px !important;
	width:auto !important;
}
*#dm *.dmBody div.u_1653320028
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1498495937
{
	margin-left:0 !important;
	padding-top:70px !important;
	padding-left:40px !important;
	padding-bottom:70px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:40px !important;
	width:auto !important;
}
*#dm *.dmBody div.u_1110093187
{
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	float:none !important;
	top:0 !important;
	max-width:100% !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	padding-right:0 !important;
	min-width:25px !important;
	height:auto !important;
	display:block !important;
}
*#dm *.dmBody div.u_1489631805
{
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	padding-right:0 !important;
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	max-width:100% !important;
	min-width:25px !important;
}
*#dm *.dmBody *.u_1273029066 .shzmSearch
{
	border-radius:3px !important;
}
*#dm *.dmBody *.u_1273029066 #jobCategories
{
	border-radius:3px !important;
}
*#dm *.dmBody *.u_1273029066 #shzmSearch
{
	border-radius:3px !important;
}
*#dm *.dmBody *.u_1273029066 #location
{
	border-radius:3px !important;
}
*#dm *.dmBody *.u_1273029066 #jobWorkType
{
	border-radius:3px !important;
}
*#dm *.dmBody *.u_1273029066 #city
{
	border-radius:3px !important;
}
*#dm *.dmBody *.u_1273029066 #jobSubCategories
{
	border-radius:3px !important;
}
*#dm *.dmBody *.u_1273029066 #country
{
	border-radius:3px !important;
}
*#dm *.dmBody div.u_1273029066 .searchBtn span.text
{
	font-size:16px !important;
}
*#dm *.dmBody div.u_1273029066 .searchBtn
{
	width:100px !important;
	height:45px !important;
	min-width:100px !important;
}
*#dm *.dmBody div.u_1273029066 #searchBox
{
	font-size:14px !important;
	height:45px !important;
	width:200px !important;
	min-width:200px !important;
}
*#dm *.dmBody div.u_1273029066 #location
{
	font-size:14px !important;
	height:45px !important;
	width:200px !important;
	min-width:200px !important;
}
*#dm *.dmBody div.u_1273029066 .option-state
{
	font-size:14px !important;
}
*#dm *.dmBody div.u_1273029066
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:550px !important;
	position:relative !important;
	height:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	max-width:100% !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
}
*#dm *.dmBody nav.u_1724148124.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item
{
	font-size:22px !important;
}
*#dm *.dmBody nav.u_1699582434.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item
{
	font-size:22px !important;
}
*#dm *.dmBody div.u_1925538449
{
	margin-left:0 !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-top:40px !important;
	margin-bottom:8px !important;
	margin-right:15px !important;
	padding-right:0 !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	max-width:550px !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1951771442
{
	padding-top:50px !important;
	padding-left:0 !important;
	padding-bottom:50px !important;
	padding-right:0 !important;
	margin-left:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
}
*#dm *.dmBody div.u_1578129116
{
	margin-left:0 !important;
	padding-top:60px !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1844592583
{
	margin-left:0 !important;
	padding-top:2px !important;
	padding-left:140px !important;
	padding-bottom:2px !important;
	margin-top:98px !important;
	margin-bottom:8px !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1004417913
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1466485820
{
	padding-top:70px !important;
	padding-left:40px !important;
	padding-bottom:70px !important;
	padding-right:40px !important;
	width:auto !important;
	margin-left:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
}
*#dm *.dmBody div.u_1929627318
{
	margin-left:0 !important;
	padding-top:70px !important;
	padding-left:80px !important;
	padding-bottom:70px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:80px !important;
	width:auto !important;
	background-position:50% 50% !important;
}
*#dm *.dmBody div.u_1487594235
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:25px !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:25px !important;
}
*#dm *.dmBody div.u_1060425697
{
	padding-top:70px !important;
	padding-left:40px !important;
	padding-bottom:70px !important;
	padding-right:40px !important;
	width:auto !important;
}
*#dm *.dmBody div.u_1625765498
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:25px !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:25px !important;
}
*#dm *.dmBody div.u_1821433484
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:25px !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:25px !important;
}
*#dm *.dmBody div.u_1382885266
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:25px !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:25px !important;
}
*#dm *.dmBody div.u_1280673545
{
	padding-top:0 !important;
	padding-bottom:0 !important;
	padding-right:0 !important;
	padding-left:0 !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:auto !important;
	position:relative !important;
	height:auto !important;
	margin-right:0 !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	min-width:0 !important;
	text-align:start !important;
}
*#dm *.dmBody div.u_1868055476
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:76px !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	max-width:100% !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:start !important;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:21px !important;
	margin-bottom:10px !important;
}
*#dm *.dmBody div.u_1386269474
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:68px !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	max-width:100% !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:start !important;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:21px !important;
	margin-bottom:10px !important;
}
*#dm *.dmBody div.u_1609322060
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:62px !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:21px !important;
	margin-bottom:10px !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:start !important;
}
*#dm *.dmBody div.u_1536020760
{
	padding-top:0 !important;
	padding-bottom:0 !important;
	padding-right:0 !important;
	padding-left:0 !important;
}
*#dm *.dmBody div.u_1833460289
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 3px) !important;
	position:relative !important;
	height:71px !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	max-width:243px !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:start !important;
	margin-right:3.5px !important;
	margin-left:3.5px !important;
	margin-top:26px !important;
	margin-bottom:10px !important;
}
*#dm *.dmBody div.u_1303419788
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:30px !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:40px !important;
}
*#dm *.dmBody div.u_1790945569
{
	width:calc(100% - 0px) !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	padding-right:0 !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:56px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	min-width:25px !important;
	text-align:start !important;
}
*#dm *.dmBody div.u_1780773431
{
	width:calc(100% - 0px) !important;
	important:true !important;
	margin-left:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:-11px !important;
	margin-bottom:0 !important;
	margin-right:auto !important;
	padding-right:0 !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	max-width:100% !important;
	min-width:25px !important;
	text-align:start !important;
}
*#dm *.dmBody div.u_1863836867
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:31px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody a.u_1075073837
{
	height:45px !important;
	width:200px !important;
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	max-width:100% !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
	margin-right:301px !important;
	margin-left:0 !important;
	margin-top:30px !important;
	margin-bottom:10px !important;
}
*#dm *.dmBody div.u_1235930526
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:211px !important;
	position:relative !important;
	height:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	max-width:100% !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:center !important;
}
@media (min-width:768px) and (max-width:1024px) {}
@media (min-width:1025px) {}
*#dm *.dmBody div.u_1877529586
{
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:550px !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	max-width:100% !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	margin-left:0px !important;
	margin-top:10px !important;
	margin-bottom:0px !important;
	margin-right:629px !important;
	min-height:auto !important;
}
*#dm *.dmBody div.u_1294481480
{
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	float:none !important;
	top:0 !important;
	max-width:100% !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	padding-right:0px !important;
	min-width:25px !important;
	height:auto !important;
	display:block !important;
	margin-left:12px !important;
	margin-top:0px !important;
	margin-bottom:8px !important;
	margin-right:0px !important;
}
*#dm *.dmBody div.u_1085154269
{
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	padding-right:0px !important;
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	max-width:100% !important;
	min-width:25px !important;
	margin-right:0px !important;
	margin-left:12px !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
}
